[submodule "src/ext/sqlite/sqlite3pp"]
	path = src/ext/sqlite/sqlite3pp
	url = ../sqlite3pp.git
[submodule "src/ext/ReactApp"]
	path = src/ext/ReactApp
	url = ../ReactApp.git
[submodule "src/ext/Hypodermic"]
	path = src/ext/Hypodermic
	url = ../Hypodermic.git
